[Unit]
Description=kasmvnc
After=network.target

[Service]
ExecStart=vncserver :2 -select-de gnome -fg
KillMode=process
IgnoreSIGPIPE=true
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target