version: "3"
agent:
    authtoken: {{streambox_ngrok_token}}

endpoints:
  - name: streambox
    url: {{ngrok_public_url}}
    upstream:
      url: localhost:80
    traffic_policy:
      on_http_request:
        - actions:
          - type: add-headers
            config:
              headers:
                host: localhost
