[Unit]
Description=ngrok
After=network.target

[Service]
ExecStart=vncserver :0 -desktop gdm --config %h/.confg/ngrok/ngrok.yml
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=vncserver -kill :0
KillMode=process
IgnoreSIGPIPE=true
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target