# /etc/systemd/system/mnt-data.mount
# https://rclone.org/commands/rclone_mount/#rclone-as-unix-mount-helper
[Unit]
Description=Mount for {{rclone_mount_point}}
[Mount]
Type=rclone
What={{rclone_mount_name}}:{{rclone_subdir}}
Where={{rclone_mount_point}}
Options=rw,_netdev,allow_other,args2env,vfs-cache-mode=writes,config={{rclone_config_path}},cache-dir=/var/rclone