STREAMBOX_ADMIN_USER={{ streambox_admin_user }}

WEB_HTTPS_PORT={{ streambox_web_https_port }}

CADDY_HTTPS_PORT={{ streambox_caddy_https_port }}

LOKI_HTTPS_PORT={{ streambox_loki_https_port }}

GRAFANA_HTTPS_PORT={{ streambox_grafana_https_port }}