[Unit]
Description=ttyd terminal via web browser
After=network.target

[Service]
ExecStart=/snap/bin/ttyd -i docker0 --writable -p {{streambox_ttyd_port}} --base-path /host/term login
KillMode=process
IgnoreSIGPIPE=true
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target