#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: obs-server
    password: "$6$dTGm9BYPAiTfq0HQ$Qr//9vsG4CTem/ErYyyWWVS7BPs7xDAjFwzlI.3i8XXxJmOogju2GQWfIusbJyr1bi1a5apqr7hP0LmDa56tw/"
    username: stream-admin
  ssh:
    install-server: yes
    allow-pw: yes
  late-commands:
    - touch /my-cloud-init-done
