#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: obs-server
    password: "{{ streambox_obs_default_admin_password | password_hash(hashtype=sha512) }}"
    username: :streambox_obs_admin_user
  ssh:
    install-server: yes
    allow-pw: yes
  late-commands:
    - touch /my-cloud-init-done
