#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: obs-server
    password: "{{ streambox_obs_admin_password | password_hash(hashtype='sha512') }}"
    username: {{streambox_obs_admin_user}}
  ssh:
    install-server: yes
    allow-pw: yes
    authorized_keys:
      - "{{streambox_obs_admin_user_pubkey}}"
  late-commands:
    - |
      curtin in-target -- sh -c '
        printf "%s\n" "stream-admin ALL=(ALL:ALL) NOPASSWD: ALL" > /etc/sudoers.d/ansible-init &&
        chown root:root /etc/sudoers.d/ansible-init &&
        chmod 0440 /etc/sudoers.d/ansible-init &&
        visudo -cf /etc/sudoers
      '
    - curtin in-target -- touch /my-cloud-init-done
