DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD={{streambox_influxdb_admin_password}}
DOCKER_INFLUXDB_INIT_ORG=streambox
DOCKER_INFLUXDB_INIT_BUCKET=main
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN={{streambox_influxdb_token