{
    # Global options
    local_certs  # This tells Caddy to use self-signed certificates
}

https://streambox.lan {
  log

  redir /restreamer /restreamer/
  handle /restreamer/* {
    reverse_proxy http://restreamer:8080
    uri strip_prefix /restreamer/
  }

  redir /host/term /host/term/
  handle /host/term/* {
    redir /host/term /host/term/
    reverse_proxy /host/term/* http://host.docker.internal:8082
  }

  redir /obs/vnc /obs/vnc/
  handle /obs/vnc/* {
    redir /obs/vnc  /obs/vnc/vnc.html
    redir /obs/vnc/ /obs/vnc/vnc.html

    handle_path /obs/vnc/* {

      uri query replace path '/obs/vnc/websockify'

      reverse_proxy https://192.168.122.101:8444 {
        transport http {
          tls_insecure_skip_verify
        }
      }

      # KasmVNC doesn't protect against directory traveral
      @dir_matcher path_regexp \/$
      respond @dir_matcher 403
    }
  }

  redir /metrics /metrics/
  handle /metrics/* {
    reverse_proxy https://grafana:3000 {
      transport http {
        tls_insecure_skip_verify
      }
    }
  }

  file_server /* {
    root /srv
  }

}
