{
    # Global options
    local_certs  # This tells Caddy to use self-signed certificates
}

http://localhost:80, https://streambox.lan:443 {
  log

  basic_auth {
    {$kasmvnc_user} {$kasmvnc_hashed_password}
  }

  redir /restreamer /restreamer/
  handle /restreamer/* {
    reverse_proxy http://restreamer:8080
    uri strip_prefix /restreamer
  }

  redir /host-term /host-term/
  handle /host-term/* {
    reverse_proxy /host-term/* http://host.docker.internal:8082
  }

  @base-obs-vnc-path path /obs-vnc /obs-vnc/
  redir @base-obs-vnc-path /obs-vnc/vnc.html?path=/obs-vnc/websockify
  handle /obs-vnc/* {
    uri query path /obs-vnc/websockify
    reverse_proxy https://192.168.120.101:8444 {
      transport http {
        tls_insecure_skip_verify
      }
    }

    # KasmVNC doesn't protect against directory traveral
    @dir_matcher path_regexp \/$
    respond @dir_matcher 403
    
  }

  redir /metrics /metrics/
  handle /metrics/* {
    reverse_proxy http://grafana:3000 {
    }
  }

  redir /logs /logs/
  handle /logs/* {
    reverse_proxy https://loki:3100 {
      transport http {
        tls_insecure_skip_verify
      }
    }
  }

  redir /obs-shortcuts /obs-shortcuts/
  handle /obs-shortcuts/* {
    reverse_proxy http://olivetin:1337
    uri strip_prefix /obs-shortcuts
  }

  file_server /* {
    root /srv
  }

}
